*{
    margin: 0px;
    padding: 0px;
}



.full{
    height: 500px;
    color: aliceblue;
    background-image:url(todolistbg.webp);
    background-size: 3000px 3000px;
    background-repeat: no-repeat; 
    background-position: center;
    opacity: 1;

}   
.box{
    margin: auto;
    border-style: dotted;
    border-color: white;
    border-radius: 50 px;
    border-top-left-radius:10px 10px 100px;
}